@charset "UTF-8";
@font-face {
  font-family: "iran-yekan";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/iran-yekan/IRANYEKANWEBLIGHT.woff") format("woff");
}
@font-face {
  font-family: "iran-yekan";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/iran-yekan/IRANYEKANWEBBOLD.woff") format("woff");
}
@font-face {
  font-family: "icon-font";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/icon-font.woff") format("woff");
}
@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iran-sans/IRANSansWeb(FaNum).woff") format("woff");
}
@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/iran-sans/IRANSansWeb(FaNum)_Light.woff") format("woff");
}
@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/iran-sans/IRANSansWeb(FaNum)_Medium.woff") format("woff");
}
@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/iran-sans/IRANSansWeb(FaNum)_Bold.woff") format("woff");
}
[class*=font-weight-] {
  font-family: IRANSans, serif, sans-serif, cursive, fantasy, monospace;
}

.font-weight-normal {
  font-weight: 500 !important;
}

[class^=icon-font-]::before,
[class^=icon-font-]::after,
[class*=" icon-font-"]::before,
[class*=" icon-font-"]::after {
  font-family: icon-font, serif, sans-serif, cursive, fantasy, monospace;
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: IRANSans, serif, sans-serif, cursive, fantasy, monospace;
}

a, a:active, a:hover {
  text-decoration: none;
  color: inherit;
}

.text-hover:hover {
  color: #FA4252 !important;
}

a:hover img {
  opacity: 0.75;
}

ul li {
  list-style: none;
}

.dir-ltr {
  direction: ltr;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.continuation-line {
  height: 2px;
}

.text-no-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.black-page {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9;
  display: none;
  background-color: rgba(0, 0, 0, 0.36);
}

.outline-none {
  outline: none;
}

.h-47 {
  height: 47px;
}

.dividing-line {
  border-left: 1px solid #000;
}

.cursor-pointer {
  cursor: pointer;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.p-reverse {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.color-white {
  color: #fff;
}

.color-alto {
  color: #DCDCDC;
}

.color-black {
  color: #000;
}

.color-black-60 {
  color: rgba(0, 0, 0, 0.6);
}

.color-black-30 {
  color: rgba(0, 0, 0, 0.3);
}

.color-silver {
  color: #bebebe;
}

.color-silver-2 {
  color: #C0C0C0;
}

.color-silver-3 {
  color: #CBCBCB;
}

.color-coral-red {
  color: #FA4252;
}

.color-atomic-tangerine {
  color: #FFA259;
}

.color-persimmon {
  color: #FE6845;
}

.color-malachite {
  color: #0DB413;
}

.color-alabaster {
  color: #f8f8f8;
}

.color-cornflower-lilac {
  color: #FFA4AC;
}

.color-dove-gray {
  color: #737373;
}

.color-nobel {
  color: #B5B5B5;
}

.bg-coral-red {
  background-color: #FA4252;
}

.bg-malachite {
  background-color: #0DB413;
}

.bg-alabaster-2 {
  background-color: #fcfcfc;
}

.bg-silver-2 {
  background-color: #C0C0C0;
}

.bg-silver-3 {
  background-color: #CBCBCB;
}

.bg-seashell {
  background-color: #F1F1F1;
}

.bg-persimmon {
  background-color: #FE6845;
}

.bg-froly {
  background-color: #F76D79;
}

.bg-cornflower-lilac {
  background-color: #FFA4AC;
}

.bg-mercury {
  background-color: #E1E1E1;
}

.bg-atomic-tangerine {
  background-color: #FFA259;
}

.bg-wild-sand {
  background-color: #F7F7F7;
}

.bg-after-atomic-tangerine::after {
  background-color: #FFA259;
}

.bg-after-mint-green::after {
  background-color: #86F88A;
}

.bg-after-cornflower-lilac::after {
  background-color: #FFA4AC;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-position-center {
  background-position: center;
}

.bg-size-cover {
  background-size: cover;
}

.bg-attachment-fixed {
  background-attachment: fixed;
}

.m-top {
  margin-top: 2.5rem;
}

.m-bottom {
  margin-bottom: 2.5rem;
}

.p-top {
  padding-top: 2.5rem;
}

.p-bottom {
  padding-bottom: 2.5rem;
}

.icon-font-profile::before {
  content: "";
}

.icon-font-grouping::before {
  content: "";
}

.icon-font-cup::before {
  content: "";
}

.icon-font-sound::before {
  content: "";
}

.icon-font-discounts::before {
  content: "";
}

.icon-font-home::before {
  content: "";
}

.icon-font-shop::before {
  content: "";
}

.icon-font-plus::before {
  content: "";
}

.icon-font-plus-border::before {
  content: "";
}

.icon-font-search::before {
  content: "";
}

.icon-font-hammer::before {
  content: "";
}

.icon-font-chevron-left::before {
  content: "";
}

.icon-font-chevron-right::before {
  content: "";
}

.icon-font-laps::before {
  content: "";
}

.icon-font-close::before {
  content: "";
}

.icon-font-plus-menu::before {
  content: "";
}

.icon-font-remove-menu::before {
  content: "";
}

.icon-font-car::before {
  content: "";
}

.icon-font-medal::before {
  content: "";
}

.icon-font-location::before {
  content: "";
}

.icon-font-manual-worker::before {
  content: "";
}

.icon-font-ATM-card::before {
  content: "";
}

.icon-font-spray::before {
  content: "";
}

.icon-font-chevron-top::before {
  content: "";
}

.icon-font-filter::before {
  content: "";
}

.icon-font-advanced-search::before {
  content: "";
}

.z-index-1 {
  z-index: 1;
}

.line-height-1 {
  line-height: 1;
}

.font-size-10 {
  font-size: 10px !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-24 {
  font-size: 24px !important;
}

.font-size-26 {
  font-size: 26px !important;
}

.font-size-30 {
  font-size: 30px !important;
}

.font-size-36 {
  font-size: 36px !important;
}

.font-size-40 {
  font-size: 40px !important;
}

.font-size-48 {
  font-size: 48px !important;
}

.flex-2 {
  flex: 2;
}

.flex-100 {
  flex: 100;
}

.btn.btn-xs {
  padding: 0.05rem 0.4rem;
  font-size: 0.775rem;
  line-height: 1.4;
  border-radius: 0.2rem;
}
.btn.btn-hover:hover {
  opacity: 0.8;
}

.border-radius-17 {
  border-radius: 17px;
}

.border-radius-50 {
  border-radius: 50px;
}

.border-width-3 {
  border-width: 3px;
}

.border-color-coral-red {
  border-color: #FA4252;
}

.border-color-malachite {
  border-color: #0DB413;
}

.border-color-persimmon {
  border-color: #FE6845;
}

.border-color-atomic-tangerine {
  border-color: #FFA259;
}

.border-color-gallery-2 {
  border-color: #EBEBEB;
}

.border-style-solid {
  border-style: solid;
}

@media only screen and (min-width: 1200px) {
  .container.custom-container {
    max-width: 1300px;
    width: 90%;
  }
}
.black-page {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.68);
  z-index: 20;
  position: fixed;
  display: none;
}

.nicescroll-rails {
  direction: ltr;
  border-radius: 50px;
}
.nicescroll-rails div {
  border: none !important;
}

.scrollbar-inner > .scroll-element.scroll-y {
  height: auto;
  right: auto;
  left: 2px;
  top: 10px;
  bottom: 10px;
  z-index: 1;
  border-radius: 50px;
  width: 7px;
}
.scrollbar-inner > .scroll-element .scroll-element_track {
  background-color: #eee;
}
.scrollbar-inner > .scroll-element .scroll-bar {
  background-color: #FA4252;
  opacity: 1;
}

.item {
  width: 100%;
  /* full width */
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.is-fullscreen .item {
  height: 100%;
}

.item img {
  max-height: 100%;
}

.shop-small {
  display: none;
  bottom: 0;
  z-index: 2;
  border-radius: 45px 45px 0 0;
}

.search-box {
  height: 47px;
}
.search-box input {
  padding-left: 22px;
}
.search-box .search-btn {
  left: 10px;
  top: calc(50% + 1px);
  transform: translate(0, -50%);
}

header {
  height: 114px;
}
@media only screen and (max-width: 991px) {
  header {
    height: 66px;
  }
}
header .header-big, header .header-small {
  border-bottom: 10px solid #f8f8f8;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
header ul li.active a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #0DB413;
  border-radius: 10px;
  bottom: 0;
}
header .shop-icon {
  width: 50px;
  height: 50px;
  flex: 0 0 50px;
  max-width: 50px;
}
header .shop-icon .shop-item-number {
  right: 0;
  bottom: 0;
  height: 20px;
  min-width: 20px;
}
header .menu-small-icon {
  font-size: 30px;
}
header .header-small .logo img {
  height: 40px;
}
header .menu-items {
  z-index: 1003;
  top: 0;
  right: -300px;
  width: 300px;
  background-color: #272727;
  transition: all 0.5s;
  overflow-y: scroll;
}
@media only screen and (max-width: 1200px) {
  header .menu-items .nav-link {
    padding: 0.5rem 0;
  }
}
header .menu-items .fas.float-left {
  top: 6px;
}
header .menu-items .close-menu > .far {
  font-size: 26px;
}
header .menu-items ul {
  float: right;
  width: 100%;
  padding: 15px;
}
header .menu-items ul.menu-down {
  display: none;
}
@media only screen and (max-width: 1200px) {
  header .menu-items ul.menu-down li {
    color: #fff;
    padding: 0;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

main .grouping-content {
  overflow: hidden;
}
main .grouping-content::before {
  content: "";
  left: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 3px;
  box-shadow: -3px 0px 30px 0px #bdbdbd;
  z-index: 1;
}
main .grouping-content ul {
  width: 760px;
}
@media only screen and (max-width: 991px) {
  main .grouping-content ul {
    width: 858px;
  }
}
@media only screen and (max-width: 767px) {
  main .grouping-content ul {
    width: 705px;
  }
}
@media only screen and (min-width: 1400px) {
  main .grouping-content ul {
    width: 794px;
  }
}
main .grouping-content ul li {
  width: 184px;
}
main .grouping-content ul li > div {
  transition: all 0.2s ease;
}
main .grouping-content ul li > div:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 991px) {
  main .grouping-content ul li {
    width: 214px;
  }
}
@media only screen and (max-width: 767px) {
  main .grouping-content ul li {
    width: 176px;
  }
}
@media only screen and (min-width: 1400px) {
  main .grouping-content ul li {
    width: 198px;
  }
}
main .ad .ad-big, main .ad .ad-small {
  height: 213px;
}
@media only screen and (max-width: 480px) {
  main .slider-home-page ul li {
    padding: 0 15px !important;
  }
}
main .slider-home-page ul li .slider-home-page-image {
  height: 458px;
}
main .slider-home-page ul li .slider-home-page-image::before {
  content: "";
  background-color: #FFF29f;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 70px;
  z-index: -1;
  border-radius: 174px 159px 112px 212px;
}
@media only screen and (max-width: 767px) {
  main .slider-home-page ul li .slider-home-page-image::before {
    left: 0;
  }
}
main .slider-home-page ul li .slider-home-page-image .discount {
  left: 28px;
  top: 10px;
}
@media only screen and (max-width: 390px) {
  main .slider-home-page ul li .slider-home-page-content {
    flex-direction: column;
  }
}
@media only screen and (max-width: 390px) {
  main .slider-home-page ul li .slider-home-page-content > div:first-child h4 {
    font-size: 18px;
    margin-bottom: 0;
  }
  main .slider-home-page ul li .slider-home-page-content > div:first-child span {
    font-size: 14px;
  }
}
@media only screen and (max-width: 390px) {
  main .slider-home-page ul li .slider-home-page-content > div.price span {
    text-align: left;
    font-size: 24px !important;
  }
}
@media only screen and (max-width: 390px) {
  main .slider-home-page ul li .btn {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  main .slider-home-page ul li .btn h6 {
    font-size: 14px !important;
  }
  main .slider-home-page ul li .btn i {
    font-size: 18px !important;
  }
}
main .slider-home-page .chevron {
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  cursor: pointer;
}
main .slider-home-page .chevron.chevron-left {
  left: 0;
}
@media only screen and (max-width: 575px) {
  main .slider-home-page .chevron.chevron-left {
    left: 10px;
  }
}
main .slider-home-page .chevron.chevron-right {
  right: 0;
}
@media only screen and (max-width: 575px) {
  main .slider-home-page .chevron.chevron-right {
    right: 10px;
  }
}
main .slider .slider-title i.background-icon::after {
  content: "";
  left: 6px;
  right: 0;
  bottom: 0;
  width: 43px;
  height: 43px;
  position: absolute;
  border-radius: 19px 13px 9px 13px;
  z-index: -1;
}
main .slider .slider-item > div {
  transition: all 0.2s ease;
}
main .slider .slider-item > div:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);
}
main .slider .slider-item > div:hover .slider-item-content .add-to-shop {
  cursor: pointer;
  background-color: #0DB413;
}
main .slider .slider-item > div:hover .slider-item-content .add-to-shop i::before {
  color: #fff;
}
main .slider .slider-item > div:hover .slider-item-content .price span {
  color: #000;
}
main .slider .slider-item > div .slider-item-image .product-discount {
  width: 44px;
  height: 44px;
  top: 16px;
  right: 15px;
}
main .slider .slider-item > div .slider-item-image .product-discount::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -12px;
  height: 12px;
  background-color: #FA4252;
  width: 4px;
}
main .slider .slider-item > div .slider-item-content .add-to-shop {
  width: 45px;
  height: 45px;
  border: 5px solid #fff;
  left: 18px;
  top: -22px;
}

.original-category ul li {
  transition: all 0.3s ease;
}
.original-category ul li.original-category-items {
  min-width: 178px;
}
.original-category ul li.original-category-items i::before {
  background: linear-gradient(#FE6845, #FFA259);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.original-category ul li:hover.original-category-items {
  background-color: #FA4252;
}
.original-category ul li:hover.original-category-items h5 {
  color: #fff;
}
.original-category ul li:hover.original-category-items i::before {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 991px) {
  .category-content {
    max-width: 890px;
  }
}
@media only screen and (max-width: 767px) {
  .category-content .category-sidebar-right {
    position: fixed;
    display: none;
    background-color: #fff;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
  }
}
.category-content .category-sidebar-right .grouping > div {
  border: 2px solid #F1F1F1;
}
.category-content .category-sidebar-right .grouping > div.active .grouping-header i {
  transform: rotate(180deg);
}
.category-content .category-sidebar-right .grouping > div .grouping-header i {
  transition: all 0.2s ease;
}
@media only screen and (max-width: 991px) {
  .category-content .category-sidebar-right .grouping > div .grouping-header i {
    font-size: 8px !important;
  }
}
@media only screen and (max-width: 991px) {
  .category-content .category-sidebar-right .grouping > div .grouping-header h5 {
    font-size: 14px !important;
  }
}
.category-content .category-sidebar-right .grouping > div .grouping-content-inter-page {
  border-top: 1px solid #F1F1F1;
}
.category-content .category-sidebar-right .grouping > div .grouping-content-inter-page .checkbox-parent {
  max-height: 400px !important;
}
.category-content .category-sidebar-right .grouping > div .grouping-content-inter-page .search-box-parent {
  border-bottom: 1px solid #F1F1F1;
}
.category-content .category-sidebar-right .grouping > div .grouping-content-inter-page .custom-control .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #FA4252;
}
.category-content .category-sidebar-right .grouping > div .grouping-content-inter-page .custom-control .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiID8+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPg0KPHN2ZyB3aWR0aD0iMzA5cHQiIGhlaWdodD0iMjM1cHQiIHZpZXdCb3g9IjAgMCAzMDkgMjM1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgb3BhY2l0eT0iMS4wMCIgZD0iIE0gMjg0LjAxIDAuMDAgTCAyODQuNDkgMC4wMCBDIDI5Mi4xOSA4LjM1IDMwMC40OSAxNi4xNCAzMDguNDEgMjQuMjkgTCAzMDkuMDAgMjQuMzEgTCAzMDkuMDAgMjQuMzEgQyAyNTIuMjUgODAuNzggMTk1Ljc1IDEzNy41MSAxMzkuMTIgMTk0LjEwIEMgMTI1LjU0IDIwNy43NSAxMTEuODEgMjIxLjI1IDk4LjMzIDIzNS4wMCBMIDk4LjE2IDIzNS4wMCBDIDY1LjU3IDIwMi4xOCAzMi43MCAxNjkuNjUgMC4xNyAxMzYuNzkgTCAwLjAwIDEzOC4wMCBMIDAuMDAgMTM2LjgxIEMgOC4xNCAxMjguNTYgMTYuMzIgMTIwLjM0IDI0LjYzIDExMi4yNiBDIDQ5LjA5IDEzNi45MCA3My43MCAxNjEuMzkgOTguMTkgMTg1Ljk5IEMgMTYwLjE1IDEyNC4wMSAyMjIuMTggNjIuMTAgMjg0LjAxIDAuMDAgWiIgLz48L3N2Zz4NCg==");
}
.category-content .category-sidebar-right .grouping > div .grouping-content-inter-page .custom-control .custom-control-input:active ~ .custom-control-label::before {
  background-color: #F76D79;
}
.category-content .category-sidebar-right .grouping > div .grouping-content-inter-page .custom-control .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}
.category-content .category-sidebar-right .grouping > div .grouping-content-inter-page .custom-control label::before, .category-content .category-sidebar-right .grouping > div .grouping-content-inter-page .custom-control label::after {
  top: 50%;
  transform: translate(0, -50%);
}
.category-content .category-sidebar-right .grouping > div .grouping-content-inter-page .custom-control label::before {
  width: 28px;
  height: 28px;
  border: 1px solid #DBDBDB;
  background-color: #fff;
}
.category-content .category-sidebar-right .grouping > div .grouping-content-inter-page .custom-control label::after {
  width: 28px;
  height: 28px;
}
.category-content .category-main .category-search-tools {
  border: 2px solid #F1F1F1;
}
.category-content .category-main .category-search-tools ul li a {
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  .category-content .category-main .category-search-tools ul li a {
    font-size: 10px;
  }
}

.modal.search-box-modal .icon-font-search {
  left: 10px;
}

footer {
  border-top: 3px solid #FA4252;
}
footer .footer-sidebar-right li i {
  min-width: 41px;
  text-align: center;
}
footer .footer-content-title {
  border-bottom: 2px solid #F76D79;
}
footer .footer-content a:hover {
  color: #FA4252;
}

/*# sourceMappingURL=main.css.map */
