//@include font-face(iran-yekan, '../fonts/iran-yekan/BYEKAN', normal, normal, ttf);
@include font-face(iran-yekan, '../fonts/iran-yekan/IRANYEKANWEBLIGHT', 300, normal, woff);
@include font-face(iran-yekan, '../fonts/iran-yekan/IRANYEKANWEBBOLD', bold, normal, woff);
@include font-face(icon-font, '../fonts/icon-font', normal, normal, woff);


@include font-face(IRANSans, '../fonts/iran-sans/IRANSansWeb(FaNum)', normal, normal, woff);
@include font-face(IRANSans, '../fonts/iran-sans/IRANSansWeb(FaNum)_Light', 300, normal, woff);
@include font-face(IRANSans, '../fonts/iran-sans/IRANSansWeb(FaNum)_Medium', 500, normal, woff);
@include font-face(IRANSans, '../fonts/iran-sans/IRANSansWeb(FaNum)_Bold', bold, normal, woff);

[class*="font-weight-"] {
  font-family: IRANSans, $DefaultFonts;
}

.font-weight-normal {
  font-weight: 500 !important;
}

[class^="icon-font-"]::before,
[class^="icon-font-"]::after,
[class*=" icon-font-"]::before,
[class*=" icon-font-"]::after{
  font-family: icon-font, $DefaultFonts;
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: IRANSans, $DefaultFonts;
}

a, a:active, a:hover {
  text-decoration: none;
  color: inherit;
}
.text-hover{
  &:hover {
    color: $color-coral-red !important;
  }
}
a:hover {
  //color: $color-coral-red !important;
  & img {
    opacity: .75;
  }
}

ul li {
  list-style: none
}

.dir-ltr {
  direction: ltr;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.continuation-line {
  height: 2px;
}

.text-no-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.black-page {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9;
  display: none;
  background-color: rgba(0, 0, 0, 0.36);
}

.rtl {
}

.outline-none {
  outline: none;
}

.h-47 {
  height: 47px;
}
.dividing-line{
  border-left: 1px solid #000;
}
.cursor-pointer{
  cursor: pointer;
}
.text-decoration-line-through{
  text-decoration: line-through;
}
//==========================================
//paddings
//==========================================
.p-reverse{
  margin-left: -.25rem;
  margin-right: -.25rem;
}
//==========================================
//list-style
//==========================================
//.list-style-1{
//  > li{
//    &:before{
//      content: "";
//      border-radius: 50%;
//      position: absolute;
//      right: 0;
//      top:calc(50% - 2px);
//      transform: translate(0,-50%);
//      width: 5px;
//      height: 5px;
//      background-color: #000;
//    }
//  }
//}
//==========================================
//colors
//==========================================
//.color-black {
//  color: $color-black;
//}

.color-white {
  color: $color-white;
}

.color-alto {
  color: $color-alto;
}

.color-black {
  color: $color-black;
}

.color-black-60 {
  color: $color-black-60;
}

.color-black-30 {
  color: $color-black-30;
}

.color-silver {
  color: $color-silver;
}

.color-silver-2 {
  color: $color-silver-2;
}

.color-silver-3 {
  color: $color-silver-3;
}

.color-coral-red {
  color: $color-coral-red;
}

.color-atomic-tangerine {
  color: $color-atomic-tangerine;
}

.color-persimmon {
  color: $color-persimmon;
}

.color-malachite {
  color: $color-malachite;
}

.color-alabaster {
  color: $color-alabaster;
}

.color-cornflower-lilac {
  color: $color-cornflower-lilac;
}

.color-dove-gray {
  color: $color-dove-gray;
}

.color-nobel {
  color: $color-nobel;
}

//.color-mine-shaft-2 {
//  color: $color-mine-shaft-2;
//}
//
//.color-mine-shaft-3 {
//  color: $color-mine-shaft-3;
//}
//
//.color-mine-shaft-bright {
//  color: $color-mine-shaft-bright;
//}
//
//.color-mine-shaft-bright-2 {
//  color: $color-mine-shaft-bright-2;
//}
//
//.color-dove-gray {
//  color: $color-dove-gray;
//}
//
//.color-surfie-green {
//  color: $color-surfie-green;
//}
//
//.color-ming {
//  color: $color-ming;
//}
//
//.color-silver {
//  color: $color-silver;
//}
//
//.color-cream-can {
//  color: $color-cream-can;
//}
//
//.color-tree-poppy {
//  color: $color-tree-poppy;
//}
//
//.color-pussian-blue {
//  color: $color-prussian-blue;
//}
//
//.color-bahama-blue {
//  color: $color-bahama-blue;
//}
//
//.color-sapphire {
//  color: $color-sapphire;
//}
//
//.color-cod-gray {
//  color: $color-cod-gray;
//}
//
//.color-dim-gray {
//  color: $color-dim-gray;
//}
//
//.color-Dodger-Blue {
//  color: $color-Dodger-Blue;
//}
//
//.color-boulder {
//  color: $color-boulder;
//}
//
//.color-tundora {
//  color: $color-tundora;
//}
//
//.color-black-85 {
//  color: $color-black-85;
//}
//
//.color-emperor {
//  color: $color-emperor;
//}
//
//.color-night-rider {
//  color: $color-night-rider;
//}
//.color-red {
//  color: $color-persian-red;
//}
//==========================================
//background colors
//==========================================
.bg-coral-red {
  background-color: $color-coral-red;
}

.bg-malachite {
  background-color: $color-malachite;
}

.bg-alabaster-2 {
  background-color: $color-alabaster-2;
}

.bg-silver-2 {
  background-color: $color-silver-2;
}

.bg-silver-3 {
  background-color: $color-silver-3;
}

.bg-seashell {
  background-color: $color-seashell;
}

.bg-persimmon {
  background-color: $color-persimmon;
}

.bg-froly {
  background-color: $color-froly;
}

.bg-cornflower-lilac {
  background-color: $color-cornflower-lilac;
}

.bg-mercury {
  background-color: $color-mercury;
}

.bg-atomic-tangerine {
  background-color: $color-atomic-tangerine;
}

.bg-wild-sand {
  background-color: $color-wild-sand;
}

//==========================================
//background colors after before
//==========================================

.bg-after-atomic-tangerine {
  &::after{
    background-color: $color-atomic-tangerine;
  }
}

.bg-after-mint-green {
  &::after{
    background-color: $color-mint-green;
  }
}

.bg-after-cornflower-lilac {
  &::after{
    background-color: $color-cornflower-lilac;
  }
}
//.bg-pacific-blue{
//  background-color: $color-pacific-blue;
//}
//
//.bg-dodger-blue{
//  background-color: $color-dodger-blue;
//}
//
//.bg-mariner{
//  background-color: $color-mariner;
//}
//
//.bg-black-pearl{
//  background-color: $color-black-pearl;
//}
//
//.bg-cerulean{
//  background-color: $color-cerulean;
//}
//
//.bg-cranberry{
//  background-color: $color-cranberry;
//}
//.bg-white-smoke{
//  background-color: $color-white-smoke;
//}
//.bg-instagram{
//  background: #f09433;
//  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
//  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
//  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
//}

//==========================================
// background image options
//==========================================
.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-position-center {
  background-position: center;
}

.bg-size-cover {
  background-size: cover;
}

.bg-attachment-fixed {
  background-attachment: fixed;
}

//==========================================
//margin and padding
//==========================================
.m-top {
  margin-top: $margin-and-padding-size;
}

.m-bottom {
  margin-bottom: $margin-and-padding-size;
}

.p-top {
  padding-top: $margin-and-padding-size;
}

.p-bottom {
  padding-bottom: $margin-and-padding-size;
}

//==========================================
//icon fonts
//==========================================
.icon-font-profile::before {
  content: "\f100";
}

.icon-font-grouping::before {
  content: "\f101";
}

.icon-font-cup::before {
  content: "\f102";
}

.icon-font-sound::before {
  content: "\f103";
}

.icon-font-discounts::before {
  content: "\f104";
}

.icon-font-home::before {
  content: "\f105";
}

.icon-font-shop::before {
  content: "\f106";
}
.icon-font-plus::before {
  content: "\f107";
}

.icon-font-plus-border::before {
  content: "\f108";
}

.icon-font-search::before {
  content: "\f111";
}

.icon-font-hammer::before {
  content: "\f113";
}

.icon-font-chevron-left::before {
  content: "\f109";
}

.icon-font-chevron-right::before {
  content: "\f110";
}

.icon-font-laps::before {
  content: "\f112";
}

.icon-font-close::before {
  content: "\f114";
}

.icon-font-plus-menu::before {
  content: "\f115";
}

.icon-font-remove-menu::before {
  content: "\f116";
}

.icon-font-car::before {
  content: "\f117";
}

.icon-font-medal::before {
  content: "\f118";
}

.icon-font-location::before {
  content: "\f119";
}

.icon-font-manual-worker::before {
  content: "\f120";
}

.icon-font-ATM-card::before {
  content: "\f121";
}

.icon-font-spray::before {
  content: "\f122";
}

.icon-font-washing-liquid::before {
  content: "\f123";
}

.icon-font-washing::before {
  content: "\f124";
}

.icon-font-chevron-top::before {
  content: "\f125";
}

.icon-font-filter::before {
  content: "\f126";
}

.icon-font-advanced-search::before {
  content: "\f127";
}

.icon-font-hand-washing::before {
  content: "\f128";
}

.icon-font-shampoo::before {
  content: "\f129";
}


//==========================================
//z-index
//==========================================
.z-index-1 {
  z-index: 1;
}

//==========================================
//line-height
//==========================================
.line-height-1{
  line-height: 1;
}
//==========================================
//font size
//==========================================

.font-size-10 {
  font-size: $f-10 !important;
}

.font-size-12 {
  font-size: $f-12 !important;
}

.font-size-14 {
  font-size: $f-14 !important;
}

.font-size-16 {
  font-size: $f-16 !important;
}

.font-size-18 {
  font-size: $f-18 !important;
}

.font-size-20 {
  font-size: $f-20 !important;
}

.font-size-22 {
  font-size: $f-22 !important;
}

.font-size-24 {
  font-size: $f-24 !important;
}

.font-size-26 {
  font-size: $f-26 !important;
}

.font-size-30 {
  font-size: $f-30 !important;
}

.font-size-36 {
  font-size: $f-36 !important;
}

.font-size-40 {
  font-size: $f-40 !important;
}

.font-size-48 {
  font-size: $f-48 !important;
}

//==========================================
//flex
//==========================================
.flex-2 {
  flex: 2;
}

.flex-100 {
  flex: 100;
}

//==========================================
//btn
//==========================================
.btn {
  &.btn-xs {
    padding: 0.05rem 0.4rem;
    font-size: 0.775rem;
    line-height: 1.4;
    border-radius: 0.2rem;
  }
  &.btn-hover {
    &:hover {
      opacity: .8;
    }
  }
}

.btn {
  .btn-solid {

  }
  .btn-hollow {

  }
}

//==========================================
//border
//==========================================
.border-radius-17 {
  border-radius: 17px;
}

.border-radius-50 {
  border-radius: 50px;
}

.border-width-3 {
  border-width: 3px;
}

.border-color-coral-red {
  border-color: $color-coral-red;
}

.border-color-malachite {
  border-color: $color-malachite;
}

.border-color-persimmon {
  border-color: $color-persimmon;
}

.border-color-atomic-tangerine {
  border-color: $color-atomic-tangerine;
}

.border-color-gallery-2 {
  border-color: $color-gallery-2;
}

.border-style-solid {
  border-style: solid;
}

//==========================================
//container
//==========================================
@include media-query("(min-width: 1200px)") {
  .container.custom-container {
    max-width: 1300px;
    width: 90%;
  }
}

//==========================================
//black-page
//==========================================
.black-page {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.68);
  z-index: 20;
  position: fixed;
  display: none;
}
//==========================================
//scroll-bar
//==========================================
.nicescroll-rails{
  direction: ltr;
  //background-color: $color-gallery !important;
  //height: 7px !important;
  border-radius: 50px;
  //opacity: 1 !important;
  div{
    //background-color: $color-coral-red !important;
    border: none !important;
  }
}
.scrollbar-inner{
  >{
    .scroll-element{
      &.scroll-y{
        height: auto;
        right: auto;
        left: 2px;
        top:10px;
        bottom: 10px;
        z-index:1;
        border-radius: 50px;
        width: 7px;
      }
      .scroll-element_track{
        background-color: $color-gallery;
      }
      .scroll-bar{
        background-color: $color-coral-red;
        opacity: 1;

      }
    }
  }
}
//==========================================
//slider
//==========================================
.item {
  width: 100%; /* full width */
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.is-fullscreen .item {
  height: 100%;
}

.item img {
  max-height: 100%;
}
//==========================================
//shop small
//==========================================

.shop-small{
  display: none;
  bottom: 0;
  z-index:2;
  border-radius: 45px 45px 0 0;
}
//==========================================
//search box
//==========================================

.search-box{
  height: 47px;
  input{
    padding-left: 22px;
  }
  .search-btn{
    left: 10px;
    top:calc(50% + 1px);
    transform: translate(0,-50%);
  }
}

//==========================================
//custom-control
//==========================================
.custom-radio{
  .custom-control-input{
    &:checked{
      ~{
        .custom-control-label{
          &::before{
            background-color: $color-coral-red;
          }
        }
      }
    }
    &:focus{
      ~{
        .custom-control-label{
          &::before{
            box-shadow: none;
          }
        }
      }
    }
  }
}
.custom-control{
  &.custom-radio{

  }
}
.custom-control-label{
  &::before{
    border: 1px solid #DBDBDB;
    background-color: #fff;
  }
  &::before,
  &::after{
    width: 28px;
    height: 28px;
    top:50%;
    transform: translate(0,-50%);
  }
}
