@include font-face(iran-yekan, '../fonts/iran-yekan/IRANYEKANWEBLIGHT', 300, normal, woff);
@include font-face(iran-yekan, '../fonts/iran-yekan/IRANYEKANWEBBOLD', bold, normal, woff);
@include font-face(icon-font, '../fonts/icon-font', normal, normal, woff);

[class*="font-weight-"] {
  font-family: iran-yekan, $DefaultFonts;
}

.font-weight-normal {
  font-weight: 500 !important;
}

[class^="icon-font-"]::before,
[class^="icon-font-"]::after {
  font-family: icon-font, $DefaultFonts;
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: iran-yekan, $DefaultFonts;
}

a, a:active, a:hover {
  text-decoration: none;
  color: inherit;
}

a:hover {
  //color: $color-cream-can !important;
  & img {
    opacity: .75;
  }
}

ul li {
  list-style: none
}

.dir-ltr {
  direction: ltr;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.continuation-line {
  height: 2px;
}

.text-no-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.black-page {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9;
  display: none;
  background-color: rgba(0, 0, 0, 0.36);
}

.rtl {
}

.outline-none {
  outline: none;
}

.h-47 {
  height: 47px;
}
.dividing-line{
  border-left: 1px solid #000;
}
//==========================================
//list-style
//==========================================
//.list-style-1{
//  > li{
//    &:before{
//      content: "";
//      border-radius: 50%;
//      position: absolute;
//      right: 0;
//      top:calc(50% - 2px);
//      transform: translate(0,-50%);
//      width: 5px;
//      height: 5px;
//      background-color: #000;
//    }
//  }
//}
//==========================================
//colors
//==========================================
//.color-black {
//  color: $color-black;
//}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.color-silver {
  color: $color-silver;
}

.color-coral-red {
  color: $color-coral-red;
}

.color-atomic-tangerine {
  color: $color-coral-red;
}

.color-color-persimmon {
  color: $color-persimmon;
}

.color-color-malachite {
  color: $color-malachite;
}

.color-alabaster {
  color: $color-alabaster;
}

//.color-mine-shaft-2 {
//  color: $color-mine-shaft-2;
//}
//
//.color-mine-shaft-3 {
//  color: $color-mine-shaft-3;
//}
//
//.color-mine-shaft-bright {
//  color: $color-mine-shaft-bright;
//}
//
//.color-mine-shaft-bright-2 {
//  color: $color-mine-shaft-bright-2;
//}
//
//.color-dove-gray {
//  color: $color-dove-gray;
//}
//
//.color-surfie-green {
//  color: $color-surfie-green;
//}
//
//.color-ming {
//  color: $color-ming;
//}
//
//.color-silver {
//  color: $color-silver;
//}
//
//.color-cream-can {
//  color: $color-cream-can;
//}
//
//.color-tree-poppy {
//  color: $color-tree-poppy;
//}
//
//.color-pussian-blue {
//  color: $color-prussian-blue;
//}
//
//.color-bahama-blue {
//  color: $color-bahama-blue;
//}
//
//.color-sapphire {
//  color: $color-sapphire;
//}
//
//.color-cod-gray {
//  color: $color-cod-gray;
//}
//
//.color-dim-gray {
//  color: $color-dim-gray;
//}
//
//.color-Dodger-Blue {
//  color: $color-Dodger-Blue;
//}
//
//.color-boulder {
//  color: $color-boulder;
//}
//
//.color-tundora {
//  color: $color-tundora;
//}
//
//.color-black-85 {
//  color: $color-black-85;
//}
//
//.color-emperor {
//  color: $color-emperor;
//}
//
//.color-night-rider {
//  color: $color-night-rider;
//}
//.color-red {
//  color: $color-persian-red;
//}
//==========================================
//background colors
//==========================================
.bg-coral-red {
  background-color: $color-coral-red;
}

.bg-malachite {
  background-color: $color-malachite;
}

//.bg-pacific-blue{
//  background-color: $color-pacific-blue;
//}
//
//.bg-dodger-blue{
//  background-color: $color-dodger-blue;
//}
//
//.bg-mariner{
//  background-color: $color-mariner;
//}
//
//.bg-black-pearl{
//  background-color: $color-black-pearl;
//}
//
//.bg-cerulean{
//  background-color: $color-cerulean;
//}
//
//.bg-cranberry{
//  background-color: $color-cranberry;
//}
//.bg-white-smoke{
//  background-color: $color-white-smoke;
//}
//.bg-instagram{
//  background: #f09433;
//  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
//  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
//  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
//}

//==========================================
// background image options
//==========================================
.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-position-center {
  background-position: center;
}

.bg-size-cover {
  background-size: cover;
}

.bg-attachment-fixed {
  background-attachment: fixed;
}

//==========================================
//margin and padding
//==========================================
.m-top {
  margin-top: $margin-and-padding-size;
}

.m-bottom {
  margin-bottom: $margin-and-padding-size;
}

.p-top {
  padding-top: $margin-and-padding-size;
}

.p-bottom {
  padding-bottom: $margin-and-padding-size;
}

//==========================================
//icon fonts
//==========================================
.icon-font-profile::before {
  content: "\f100";
}

.icon-font-grouping::before {
  content: "\f101";
}

.icon-font-discounts::before {
  content: "\f104";
}

.icon-font-home::before {
  content: "\f105";
}

.icon-font-shop::before {
  content: "\f106";
}

.icon-font-search::before {
  content: "\f111";
}


.icon-font-hammer::before {
  content: "\f113";
}

//==========================================
//z-index
//==========================================
.z-index-1 {
  z-index: 1;
}

//==========================================
//font size
//==========================================

.font-size-10 {
  font-size: $f-10 !important;
}

.font-size-12 {
  font-size: $f-12 !important;
}

.font-size-14 {
  font-size: $f-14 !important;
}

.font-size-16 {
  font-size: $f-16 !important;
}

.font-size-18 {
  font-size: $f-18 !important;
}

.font-size-20 {
  font-size: $f-20 !important;
}

.font-size-22 {
  font-size: $f-22 !important;
}

.font-size-24 {
  font-size: $f-24 !important;
}

.font-size-26 {
  font-size: $f-26 !important;
}

//==========================================
//flex
//==========================================
.flex-2 {
  flex: 2;
}

.flex-100 {
  flex: 100;
}

//==========================================
//btn
//==========================================
.btn {
  &.btn-xs {
    padding: 0.05rem 0.4rem;
    font-size: 0.775rem;
    line-height: 1.4;
    border-radius: 0.2rem;
  }
  &.btn-hover {
    &:hover {
      opacity: .8;
    }
  }
}

.btn {
  .btn-solid {

  }
  .btn-hollow {

  }
}

//==========================================
//border
//==========================================
.border-radius-17 {
  border-radius: 17px;
}

.border-radius-50 {
  border-radius: 50px;
}

.border-width-3 {
  border-width: 3px;
}

.border-color-coral-red {
  border-color: $color-coral-red;
}

.border-color-malachite {
  border-color: $color-malachite;
}

.border-color-persimmon {
  border-color: $color-persimmon;
}

.border-color-atomic-tangerine {
  border-color: $color-atomic-tangerine;
}

.border-style-solid {
  border-style: solid;
}

//==========================================
//container
//==========================================
@include media-query("(min-width: 1200px)") {
  .container.custom-container {
    max-width: 1300px;
    width: 90%;
  }
}

//==========================================
//black-page
//==========================================
.black-page {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.68);
  z-index: 20;
  position: fixed;
  display: none;
}