$DefaultFonts: serif, sans-serif, cursive, fantasy, monospace;
//===============================================
//colors
//===============================================
$color-white: #fff;
$color-silver : #bebebe;
$color-silver-2 : #C0C0C0;
$color-silver-3 : #CBCBCB;
$color-silver-4 : #C8C8C8;
$color-wild-sand : #F7F7F7;
$color-alto : #DCDCDC;
$color-alto-2 : #DBDBDB;
$color-mercury : #E1E1E1;
$color-dove-gray : #737373;
$color-nobel : #B5B5B5;
$color-seashell : #F1F1F1;
$color-silver-chalice : #A8A8A8;
$color-silver-chalice-2: #AAAAAA;
$color-coral-red : #FA4252;
$color-froly : #F76D79;
$color-atomic-tangerine : #FFA259;
$color-picasso : #FFF29f;
$color-persimmon : #FE6845;
$color-malachite : #0DB413;
$color-mint-green : #86F88A;
$color-cornflower-lilac : #FFA4AC;
$color-alabaster : #f8f8f8;
$color-alabaster-2 : #fcfcfc;
$color-black : #000;
$color-black-60 : rgba(0, 0, 0, 0.60);
$color-black-30 : rgba(0, 0, 0, 0.30);
$color-gallery : #eee;
$color-gallery-2 : #EBEBEB;

//===============================================
//numbers
//===============================================
$L: 1200px;
$M: 992px;
$S: 768px;
$xs: 576px;
$margin-and-padding-size: 2.5rem;
$f-10: 10px;
$f-16: 16px;
$f-14: 14px;
$f-12: 12px;
$f-10: 10px;
$f-18: 18px;
$f-20: 20px;
$f-22: 22px;
$f-24: 24px;
$f-26: 26px;
$f-30: 30px;
$f-36: 36px;
$f-40: 40px;
$f-48: 48px;