$DefaultFonts: serif, sans-serif, cursive, fantasy, monospace;
//===============================================
//colors
//===============================================
$color-white: #fff;
$color-silver : #bebebe;
$color-alto : #DCDCDC;
$color-coral-red : #FA4252;
$color-atomic-tangerine : #FFA259;
$color-picasso : #FFF29f;
$color-persimmon : #FE6845;
$color-malachite : #0DB413;
$color-alabaster : #f8f8f8;
$color-alabaster-2 : #fcfcfc;
$color-black : #000;
$color-gallery : #eee;

//===============================================
//numbers
//===============================================
$L: 1200px;
$M: 992px;
$S: 768px;
$xs: 576px;
$margin-and-padding-size: 2.5rem;
$f-10: 10px;
$f-16: 16px;
$f-14: 14px;
$f-12: 12px;
$f-10: 10px;
$f-18: 18px;
$f-20: 20px;
$f-22: 22px;
$f-24: 24px;
$f-26: 26px;
$f-30: 30px;
$f-40: 40px;
$f-48: 48px;