footer {
  border-top: 3px solid $color-coral-red;
  .footer-sidebar-right {
    li {
      i {
        min-width: 41px;
        text-align: center;
      }
    }
  }
  .footer-content-title {
    border-bottom: 2px solid $color-froly;
  }
  .footer-content {
    a {
      &:hover {
        color: $color-coral-red;
      }
    }
  }
}