main {
  .grouping-content {
    overflow: hidden;
    &::before {
      content: "";
      left: 0;
      position: absolute;
      bottom: 0;
      top: 0;
      width: 3px;
      box-shadow: -3px 0px 30px 0px #bdbdbd;
      z-index: 1;
    }

    ul {
      width: 760px;
      @include media-query("(max-width: 991px)") {
        width: 858px;
      }
      @include media-query("(max-width: 767px)") {
        width: 705px;
      }
      @include media-query("(min-width: 1400px)") {
        width: 794px;
      }
      li {
        width: 184px;
        > div {
          transition: all .2s ease;
          &:hover {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.20);
          }
        }
        @include media-query("(max-width: 991px)") {
          width: 214px;
        }
        @include media-query("(max-width: 767px)") {
          width: 176px;
        }
        @include media-query("(min-width: 1400px)") {
          width: 198px;
        }
      }
    }
  }
  .ad-poster{
    height: 95px;
    @include media-query("(max-width: 991px)") {
      height: 7vw;
    }
    @include media-query("(max-width: 767px)") {
      height: 14vw;
    }
    @include media-query("(max-width: 575px)") {
      height: 19vw;
    }
  }
  .ad {
    .ad-big, .ad-small {
      height: 213px;
    }
  }
  .slider-home-page {
    ul {
      li {
        &.is-selected {
          z-index: 2;
        }
        @include media-query("(max-width: 480px)") {
          padding: 0 15px !important;
        }
        .slider-home-page-image {
          height: 388px;
          width: 100%;
          &::before {
            content: "";
            background-color: $color-picasso;
            position: absolute;
            top: 0;
            right: 40px;
            left: 40px;
            bottom: 40px;
            z-index: -1;
            border-radius: 174px 159px 112px 212px;
            @include media-query("(max-width: 767px)") {
              left: 20px;
              right: 30px;
            }
          }
          .discount {
            top: 10px;
            left: 60px;
            @include media-query("(max-width: 350px)") {
              left: 0;
            }
            @include media-query("(max-width: 767px)") {
              left: 20px;
            }
          }
        }
        .slider-home-page-content {
          @include media-query("(max-width: 390px)") {
            flex-direction: column;
          }
          > div {
            h4 {
              width: 390px;
            }
            &:first-child {
              @include media-query("(max-width: 390px)") {
                h4 {
                  font-size: 18px;
                  margin-bottom: 0;
                }
                span {
                  font-size: 14px;
                }
              }
            }
            &.price {
              span {
                @include media-query("(max-width: 390px)") {
                  text-align: left;
                  font-size: 24px !important;
                }
              }
            }
          }
        }
        .btn {
          @include media-query("(max-width: 390px)") {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            h6 {
              font-size: 14px !important;
            }
            i {
              font-size: 18px !important;
            }
          }
        }
      }
    }
    .chevron {
      top: 50%;
      transform: translate(0, -50%);
      position: absolute;
      cursor: pointer;
      &.chevron-left {
        left: 16px;
        @include media-query("(max-width: 767px)") {
          left: 0;
        }
        @include media-query("(max-width: 575px)") {
          left: 18px;
        }
      }
      &.chevron-right {
        right: 30px;
        @include media-query("(max-width: 767px)") {
          right: 0;
        }
        @include media-query("(max-width: 575px)") {
          right: 20px;
        }
      }
      @include media-query("(max-width: 767px)") {
        top: calc(50% - 78px);
      }
    }
  }
  .slider {
    [data-slider]{
      margin: 0 -5px !important;
    }
    .slider-title {
      i {
        &.icon-font-laps{
          &::before{
            top: 4px;
            position: relative;
          }
        }
        &.background-icon {
          &::after {
            content: "";
            left: 6px;
            right: 0;
            bottom: -4px;
            width: 30px;
            height: 30px;
            position: absolute;
            border-radius: 19px 13px 9px 13px;
            z-index: -1;
          }
        }
      }
      .chevron{
        width: 30px;
        height: 30px;
      }
    }
    .slider-item {
      @include media-query("(max-width: 767px)") {
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
      }
      @include media-query("(max-width: 450px)") {
        flex: 0 0 50% !important;
        max-width: 50% !important;
      }
      @include media-query("(max-width: 350px)") {
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }

      > div {
        transition: all .2s ease;
        padding: 2px;
        &:hover {
          //background-color: $color-picasso;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);
          //transform: scale(1.05);

          .slider-item-content {
            .add-to-shop {
              cursor: pointer;
              background-color: $color-malachite;
              i {
                &::before {
                  color: $color-white;
                }
              }
            }
            .price {
              span {
                color: $color-black;
              }
            }
          }
        }
        .slider-item-image {
          .product-discount {
            width: 44px;
            height: 44px;
            top: 16px;
            right: 15px;
            &::before {
              content: "";
              position: absolute;
              left: 50%;
              transform: translate(-50%, 0);
              top: -12px;
              height: 12px;
              background-color: $color-coral-red;
              width: 4px;
            }
          }
          .product-save{
            width: 35px;
            height: 35px;
            top: 15px;
            left: 15px;
          }
        }
        .slider-item-content {
          .add-to-shop {
            width: 40px;
            height: 40px;
            border: 3px solid $color-white;
            left: 18px;
            top: -22px;
          }
        }
      }
    }
  }
}
.category-product-btn{
  i{
    @include media-query("(max-width: 567px)") {
      font-size: 16px !important;
    }
  }
  span{
    @include media-query("(max-width: 567px)") {
      font-size: 14px !important;
    }
  }
}