.modal {
  &.search-box-modal {
    .icon-font-search {
      left: 10px;
      top: calc(50% + 2px);
      transform: translate(0, -50%);
    }
  }
  .after-purchase{
    .after-purchase-main{
      width: auto;
      min-height: inherit;
      .table-parent{
        min-height: 194px;
      }
    }
  }
}