.modal {
  &.search-box-modal {
    .icon-font-search {
      left: 10px;
      top: calc(50% + 2px);
      transform: translate(0, -50%);
    }
  }
  .after-purchase{
    .after-purchase-main{
      width: auto;
      min-height: inherit;
      .table-parent{
        min-height: 194px;
      }
    }
  }
  .login-sign-popup{
    .modal-content{
      width: 328px;
      .login-sign-input-label{
        left: 0;
        top: 8px;
        bottom: 8px;
        margin-bottom: 0;
        padding: 0 10px;
        border-right: 1px solid $color-alto-6;
        background-color: $color-white;

      }
    }
  }
}