main{
  .grouping-content{
    overflow: hidden;
      &::before{
        content: "";
        left: 0;
        position: absolute;
        bottom: 0;
        top:0;
        width: 3px;
        box-shadow: -3px 0px 30px 0px #bdbdbd;
        z-index: 1;
      }

    ul{
      width: 760px;
      @include media-query("(max-width: 991px)") {
        width: 858px;
      }
      @include media-query("(max-width: 767px)") {
        width: 705px;
      }
      @include media-query("(min-width: 1400px)") {
        width: 794px;
      }
      li{
        width: 184px;
        > div{
          transition: all .2s ease;
          &:hover{
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.20);
          }
        }
        @include media-query("(max-width: 991px)") {
          width: 214px;
        }
        @include media-query("(max-width: 767px)") {
          width: 176px;
        }
        @include media-query("(min-width: 1400px)") {
          width: 198px;
        }
      }
    }
  }
  .ad{
    .ad-big,.ad-small{
      height: 213px;
    }
  }
  .slider-home-page{
    ul{
      li{

        @include media-query("(max-width: 480px)") {
          padding: 0 15px !important;
        }
        .slider-home-page-image{
          height: 458px;
          &::before{
            content: "";
            background-color: $color-picasso;
            position: absolute;
            top:0;
            right: 0;
            left: 0;
            bottom: 40px;
            z-index: -1;
            border-radius: 174px 159px 112px 212px;
            @include media-query("(max-width: 767px)") {
              left: 0;
            }
          }
          .discount{
            left: 28px;
            top:10px;
          }
        }
        .slider-home-page-content{
          @include media-query("(max-width: 390px)") {
            flex-direction: column;
          }
          > div{
            &:first-child{
              @include media-query("(max-width: 390px)") {
                h4 {
                  font-size: 18px;
                  margin-bottom: 0;
                }
                span {
                  font-size: 14px;
                }
              }
            }
            &.price{
              span{
                @include media-query("(max-width: 390px)") {
                  text-align: left;
                  font-size: 24px !important;
                }
              }
            }
          }
        }
        .btn{
          @include media-query("(max-width: 390px)") {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            h6 {
              font-size: 14px !important;
            }
            i {
              font-size: 18px !important;
            }
          }
        }
      }
    }
    .chevron{
      top: 50%;
      transform: translate(0, -50%);
      position: absolute;
      cursor: pointer;
      &.chevron-left{
        left: 0;
        @include media-query("(max-width: 575px)") {
          left: 10px;
        }
      }
      &.chevron-right{
        right: 0;
        @include media-query("(max-width: 575px)") {
          right: 10px;
        }
      }
    }
  }
  .slider{
    .slider-title{
      i{
        &.background-icon{
          &::after{
            content: "";
            left: 6px;
            right: 0;
            bottom: 0;
            width: 43px;
            height: 43px;
            position: absolute;
            border-radius: 19px 13px 9px 13px;
            z-index:-1;
          }
        }
      }
    }
    .slider-item{
      > div{
        transition: all .2s ease;
        &:hover{
          //background-color: $color-picasso;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);
          //transform: scale(1.05);

          .slider-item-content{
            .add-to-shop{
              cursor: pointer;
              background-color: $color-malachite;
              i{
                &::before{
                  color: $color-white;
                }
              }
            }
            .price{
              span{
                color: $color-black;
              }
            }
          }
        }
        .slider-item-image{
          .product-discount{
            width: 44px;
            height: 44px;
            top: 16px;
            right: 15px;
            &::before{
              content: "";
              position: absolute;
              left: 50%;
              transform: translate(-50%,0);
              top:-12px;
              height: 12px;
              background-color: $color-coral-red;
              width: 4px;
            }
          }
        }
        .slider-item-content{
          .add-to-shop{
            width: 45px;
            height: 45px;
            border: 5px solid $color-white;

            left: 18px;
            top: -22px;
          }
        }
      }
    }
  }
}
